# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment files
.env

# Packaging artifacts
*.egg-info/
build/
dist/

# OS files
.DS_Store
Thumbs.db

research/demo.ipynb

# Ignore everything inside data/
data/*

# But keep the folder tracked by Git (you need a placeholder file)
!data/.gitkeep

.ecrfile.txt